/* FOR THE FIRST PAGE */
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/fruits\ \(5\).jpg');
    background-size: cover;
    box-shadow: 0 0 0 0 1px;
}

.content {
    display: flex;
}

.higheading {
    margin-left: 1em;
}

.lowheading {
    padding-left: 40em;
}

#three {
    background-color: rgb(21, 21, 145);
    color: white;
    border: none;
    border-radius: 2.5px;
}

.page-container {

    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 2em;
    margin: 5em;

    /* box-shadow: 0 0 0 50px rgba(0,0,0,0.1); */
}

.notification-dot {
    color: red;
    font-size: 2em;
    padding-left: 23.5em
    
}

.page-content {
    display: flex;
    align-items: center;
    background-color: #f3f3f3;

    border-radius: 10px;
    margin: 1em;


}

.page-content p {
    margin: 12px;
}

.page-content img {
    margin-left: 12px;
}

.page-context p {
    margin: 12px;
}

.page-context img {
    margin-left: 12px;
}

.page-context {
    display: flex;
    align-items: center;
    background-color: white;

    border-radius: 10px;
    margin: 1em;

}

#message {
    margin-left: 4em;
}

.page-context #detail {
    border-radius: 5px;
    margin: 1em;
}

.page-context img {
    /* border: 2px solid blueviolet; */

    border-radius: 5em;
    height: 2.5em;
    width: 2.5em;

}

.page-content img {
    /* border: 2px solid blueviolet; */

    border-radius: 5em;
    height: 2.5em;
    width: 2.5em;

}